<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.nairbspace.octoandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Account Manager -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- For Retrofit -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- QR Code -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- Upload File -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.SetupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="${crashlyticsName}"
            android:value="${crashlyticsApiKey}"/>

        <activity android:name=".ui.dispatch.DispatchActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.add_printer.AddPrinterActivity"
            android:label="@string/add_printer"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.add_printer.AddPrinterHelpActivity"
                  android:label="@string/help_colon_add_printer"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.status.StatusActivity"
            android:label="@string/status"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.webcam.WebcamActivity"
                  android:label="@string/webcam"
                  android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name=".ui.temp.TempActivity"
                  android:label="@string/temperature"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.printer_controls.PrinterControlsActivity"
                  android:label="@string/printer_controls"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.slicer.SlicerActivity"
                  android:label="@string/slicer"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".ui.printer_settings.PrinterSettingsActivity"
                  android:label="@string/printer_settings"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Services -->
        <!-- Service needed for Account Manager -->
        <service android:name=".account_manager.AuthenticatorService"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service android:name=".services.WebsocketService"
                 android:exported="false"/>

    </application>

</manifest>